<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>gestioncomerciales</name>
    <displayName><![CDATA[Gestión comerciales]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Gestiona la creación de comerciales y la relación con los clientes.]]></description>
    <author><![CDATA[Salvador Vidal Villahoz]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>